.top-container{
    background-color: #E4F9F5;
    position:relative;
    padding-top:100px;
}

body{
    margin:0px;
    text-align: center;
    font-family: verdana, sans-serif;
}

.middle-container{
    width:200px;
    height:200px;
    background-color: red;
}

.bottom-container{
    width:200px;
    height:200px;
    background-color: blue;  
}

.top-cloud{
    position:absolute;
    right:300px;
    top:50px;
}
.bottom-cloud{
    position:absolute;
    left:300px;
    bottom:300px;
}